<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <% @product.reviews.each do |review| %>
      <% user = review.user %>
        <div>
          <p><strong>User <%= "#{user.first_name} #{user.last_name}" %> says: </strong></p>
          <p>Rating:
          <% review.rating.times do %>
            ★
          <% end %></p>
          <p><%= review.description %></p>
        </div>
      <% end %>
    </div>

    <%= form_for @product, url: product_reviews_path(@product), method: 'post' do |form| %>
      Add a review:
      <ul>
        <%= form.fields_for :reviews do |reviews_form| %>
          <li>
            <%= reviews_form.label :rating %>
            <%= reviews_form.select :rating, options_for_select([['1'], ['2'], ['3'], ['4'], ['5']]) %>
          </li>
          <li>
            <%= reviews_form.label :description %>
            <%= reviews_form.text_field :description %>
          </li>
          <li><%= reviews_form.submit "Submit" %></li>
        <% end %>
      </ul>
      <br /><br /><br />
    <% end %>

  </article>

</section>


